@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;600&family=Lexend:wght@300;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}

:root {
    --white: #FFF;
  
    --gray-50: #F7F8FA;
    --gray-100: #E6E8EB;
    --gray-200: #AFB2B1;
    --gray-500: #808080;
    --gray-800: #494D4B;
  
    --green-500: #04D361;
    --laranja: #ff531F;
    --azulescuro: #010B36;
    --azul: #00123c; 
    --purple-500: #8257E5;
    --purple-800: #6F48C9;
}

@media (max-width: 2400px) {
    html {
        font-size: 93.75%;
    }
}

@media (max-width: 1920px) {
    html {
        font-size: 87.5%;
    }
}

body {
    background: rgba(255,255,255,0.17);
    // background: white;
    // background-image: url('../assets/fundoPerfil.png');
}

body, input, textarea {
    font: 500 1rem Inter, sans-serif;
    color: rgb(184, 174, 174);
}

h1, h2, h3, h4, h5, h6, button {
    font-weight: 600;
    font-family: Lexend, sans-serif;
    color: var(--white);
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

button {
    cursor: pointer;
}

